src/*.exe
src/kittycoin
src/kittycoind
src/test_kittycoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.kittycoin

# Compilation and Qt preprocessor part
*.qm
Makefile
kittycoin-qt
KiTTYCoin-Qt.app

# Unit-tests
Makefile.test
kittycoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

# Windows specific
Thumbs.db

!src/leveldb*/Makefile
